%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-right.nav-pills
        %li
          = link_to "GitHub Repo", "https://github.com/philetos/appointments", target: "_blank"
        %li
          = link_to "Api Documentation", ""